/* h1 {
  color: grey;
}
img {
  width: 250px;
} */

body {
  color: #333333;
  font-family: arial;
  margin: 0 auto;
  padding: 0 px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 30px 0 60px;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
} 

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}


.portrait {
  width: 250px;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
  border-radius: 2px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
  border-radius: 2px;
}

.add-button {
  margin-left: 10px;
}

.list-wrapper {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  z-index: 2;
  width: 527px;
  padding-left: 8px;
  overflow-y: auto;
  position: absolute;
  max-height: 300px;
  background-color: #ffffff;
  box-shadow: 0px 5px #f6f6f6;
  
}

.list-member {
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
}

.search-bar {
  width: 518px;
  position: relative;
}

.search-content {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.card-component {
  margin-top: 20px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.comment {
  display: flex;
  align-items: center;
  color: #55af59;
}
.comment-text {
  font-size: 12px;
  margin-left: 6px;
}